.App{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: BigShouldersStencil;
  background-color: #001;
  overflow: hidden;
}

.App h1{
  font-size: 4rem;
  letter-spacing: 2rem;
  text-transform: uppercase;
  color: rgb(102, 102, 255);
  padding: 3rem;
  padding-left: 4rem;
}

.neon {
	color: #fff;
	animation: alternate-neon 4s infinite;
}

@keyframes alternate-neon {
  0%{
    text-shadow:
    0 0 5px rgba(0,178,255,1),
    0 0 10px rgba(0,178,255,1),
    0 0 20px rgba(0,178,255,1),
    0 0 40px rgba(38,104,127,1),
    0 0 80px rgba(38,104,127,1),
    0 0 90px rgba(38,104,127,1),
    0 0 100px rgba(38,104,127,1),
    0 0 140px rgba(38,104,127,1),
    0 0 180px rgba(38,104,127,1);
  }
  50%{
    text-shadow: none;
  }
  100%{
    text-shadow:
    0 0 5px rgba(0,178,255,1),
    0 0 10px rgba(0,178,255,1),
    0 0 20px rgba(0,178,255,1),
    0 0 40px rgba(38,104,127,1),
    0 0 80px rgba(38,104,127,1),
    0 0 90px rgba(38,104,127,1),
    0 0 100px rgba(38,104,127,1),
    0 0 140px rgba(38,104,127,1),
    0 0 180px rgba(38,104,127,1);
  }
}